h2 {
  font: verdana, sans-serif;
  text-align: center;
}
body {
  //background-color: aqua; 
  background-image:url("https://i.pinimg.com/564x/44/f3/ed/44f3ed6f2d1f2a6a3fe82ee58a045134.jpg" )}

  table{border:1px solid black;
  width: 50%;}
li {color: purple}

.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

@keyframes example {
  0%   {color:Pink; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
h1 {
  color: red;
  text-align: center;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite
}